i<div class="page-login">
<div class="ui centered grid container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="nine wide column">
        <div class="ui icon warning message">
          <i class="lock icon"></i>
          <div class="content">
            <div class="header">
              Login failed!
            </div>
            <p>You might have misspelled your username or password!</p>
          </div>
        </div>
      <div class="ui fluid card">
        <div class="content">
          <form class="ui form" method="POST">
            <div class="field">
              <label>Username</label>
              <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
            </div>
            <div class="field">
              <label>Password</label>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
            <%= button_tag(type: 'submit', class: 'ui primary labeled icon button') do %>
              <i class="unlock alternate icon"></i>
              Log in
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
